@charset "UTF-8";

/* GLOBAL SETTINGS */
:root {
	--theme-body-background-color: #574130;
	--theme-body-background-color--rgb: 87, 65, 48;
	--theme-page-background-color--secondary: #ccc1a2;
	--theme-page-background-color--secondary--rgb: 204, 193, 162;

	--theme-body-background-image: url(../assets/background.jpg);

	--theme-page-background-color: #d7cbab;

	--header-background-image-height: 160px;
}

* {
	margin: 0;
	font-family: 'Rubik', sans-serif;
	color: #3a3a3a;
	text-decoration: none;
}

a {
	color: #7d4924;
	transition: .2s !important;
}

a:hover {
	text-shadow: 0 0 10px #ff0;
}

body {
	background-color: #42342d;
}

/* GLOBAL NAVIGATION */
.global-navigation {
	background-color: #42342d;
	bottom: 0;
	box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .3);
	position: fixed;
	top: 0;
	width: 66px;
	display: flex !important;
	flex-direction: column;
	justify-content: center;
}

.global-navigation .dev {
	padding: 10px;
	width: 46px;
	margin-bottom: 20px;
	text-align: center;
}

.global-navigation .dev a {
	color: var(--theme-page-background-color);
	font-size: 0.7em;
	text-decoration: none;
}

.global-navigation .dev img {
	margin-left: -2px;
	border-radius: 50%;
	/* border: 2px solid var(--theme-page-background-color); */
	box-shadow: 0 0 2px var(--theme-page-background-color);
}

/* MAIN SITE */
.main-container {
	margin-left: 66px;
	width: calc(100% - 66px);
}

.main-container .page-container {
	margin: 0 auto 48px;
	width: 95%;
	max-width: 1236px;
}

/* TOP OF THE EVERY PAGE */
.main-container .page-background {
	background: var(--theme-body-background-image) no-repeat;
	z-index: -2;
	position: fixed;
	width: calc(100% - 66px);
	background-position: 50%;
	background-size: cover;
	height: 100%;
	opacity: 50%;
}

.page-container .page-header {
	display: flex;
	flex-direction: column;
	height: 148px;
	justify-content: flex-end;
	padding-bottom: 10px;
}

/* LOCAL NAVIGATION */
.page-container .page-header .local-navigation {
	display: flex;
}

.page-container .page-header .local-navigation a {
	text-decoration: none;
}

.page-container .page-header .local-navigation span {
	color: var(--theme-page-background-color) !important;
	margin-right: 10px;
}

/* COMMON PAGE SETTINGS */
.page-container .page {
	position: relative;
}

.page .page-main {
	background-color: var(--theme-page-background-color);
	border-radius: 3px;
	padding: 24px 36px;
	min-height: 400px;
}

.page h1 {
	margin-bottom: 10px;
}

.page h1 span {
	font-size: 32px;
	font-weight: 300;
}

.page h2, .page h3 {
	margin-bottom: 10px;
}

.page h2 span {
	font-size: 20px;
	font-weight: 700;
	width: auto;
	background: linear-gradient(to top, rgba(125, 73, 36, 0.1) 54%, transparent 54%, transparent 100%);
}

/* RAIL PAGE SETTINGS */
.page.has-right-rail {
	display: grid;
	grid-template-columns: minmax(0, 1fr) min-content;
	grid-template-rows: max-content;
}

.page.has-right-rail .page-main {
	border-radius: 3px 0 0 3px;
	padding-right: 15px !important;
}

.page.has-right-rail .right-rail {
	--right-rail-background-color: var(--theme-page-background-color--secondary);
	width: 336px;
	background-color: var(--right-rail-background-color);
	border-radius: 0 3px 3px 0;
	min-height: 100%;
}

.page.has-right-rail .right-rail .noframe {
	padding: 15px !important;
}

.page.has-right-rail .right-rail .hstyle {
	height: 34px;
}

/* CONTENT MAIN */
.page-main [class^="featured"] {
	display: none;
}

.page-main [class^="featured"] {
	height: 230px;
}

.page-main [class^="featured"] img {
	float: right;
	padding: 0 0 0 20px;
	height: 250px;
	object-fit: cover;
}

/* BOOK PAGE */

.page .desc {
	text-align: center;
}

.page .desc * {
	margin: 10px;
}

/* PAGINATION */
.page .pagination {
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

.page .pagination .page-item {
	display: inline;
	padding: 0 5px;
}

/* BUTTON */
.wds-button {
	display: inline-block;
	padding: 7px 18px;
	border-radius: 3px;
	border-color: transparent;
	text-decoration: none;
	text-transform: uppercase;
	background: rgba(125, 73, 36, 0.1);
	color: #7d4924;
	font-weight: bold;
	cursor: pointer;
	font-size: 14px !important;
	transition: .2s !important;
}

.wds-button:hover {
	background: rgba(125, 73, 36, 0.3);
	color: #7d4924;
	text-shadow: none;
}

.wds-button * {
	margin: 0 !important;
	color: #7d4924;
}

/* FIELDSET */
.page .main-fieldset {
	margin-bottom: 15px !important;
	border-radius: 3px;
	border: 2px solid;
}

.page .rc-fieldset {
	margin-left: 20px !important;
	border-radius: 3px;
	border: 2px solid;
	position: absolute;
	bottom: 20px;
	width: 270px;
}

/* FILLABLE */
.page input.hstyle, .page select {
	background: transparent;
	border: 2px solid #42342d;
	outline: none;
	height: 25px;
	border-radius: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.page textarea {
	background: transparent;
	border: 2px solid #42342d;
	outline: none;
	border-radius: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 600px !important;
	height: 150px !important;
}

/* INFOBLOCK */
.infoblock {
	margin: 10px 0;
	padding: 15px;
	border-radius: 3px;
	background: var(--theme-page-background-color--secondary);
}

.infoblock .media label {
	display: inline;
	font-weight: bold;
}

.infoblock .media p {
	display: inline;
	font-weight: normal;
}

.infoblock .files {
	margin-bottom: 10px;
}

.infoblock .items-group #lang-photo,
.infoblock .items-group #lang-image {
	display: block;
	margin-bottom: 5px;
}

/* GALLERIES */
.row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card {
	width: 280px;
	padding: 15px;
	border: 2px solid var(--theme-body-background-color);
	border-radius: 3px !important;
	margin: 10px 0;
}

.card img {
	width: 280px;
	margin-bottom: 8px;
	border-radius: 3px !important;
	object-fit: cover;
}

.card-body {
	text-align: center;
}

.card.card-text.card-button {
	height: 430px;
}

.card.card-text.card-button img {
	height: 360px;
}

.card.card-text.card-button .card-body div:first-of-type {
	padding-bottom: 10px;
}

.card.card-text:not(.card-button) {
	height: 390px;
}

.card.card-text:not(.card-button) img {
	height: 360px;
}

@media (max-width: 1050px) {
	.page.has-right-rail {
		display: block;
	}

	.page.has-right-rail .right-rail {
		width: 100% !important;
		padding-bottom: 100px;
		padding-top: 100px;
	}
}

/* SMALL FIXES */
.cart-info, .order-data {
	text-align: center;
}

.cart-info div:first-of-type {
	padding-bottom: 10px;
}

.page-main img {
	height: 400px;
}

.text-center div {
	margin: 5px 0;
}

.page .desc {
	width: 100%;
}