body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	position: relative;
	overflow: hidden;
}

/*noinspection CssReplaceWithShorthandUnsafely*/
body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url('wallpaper.webp');
	background-position: center;
}

body::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	/* Измените последнее число (0.5) для настройки уровня затемнения */
	z-index: 0;
}

form {
	text-align: center;
	z-index: 1;
}

button {
	display: inline-block;
	padding: 7px 18px;
	border-radius: 3px;
	border-color: transparent;
	text-decoration: none;
	text-transform: uppercase;
	background: rgba(104, 126, 67, 0.5);
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
	font-size: 14px !important;
	transition: .2s !important;
}

button:hover {
	background: rgba(104, 126, 67, 0.9);
	color: #ffffff;
	text-shadow: none;
}

button * {
	margin: 0 !important;
	color: #7d4924;
}

div {
	text-align: center;
	z-index: 1;
}

table {
	border-collapse: collapse;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #bcbcbc;
}

td {
	background: #ffffff;
}

tr:hover {
	background-color: #f5f5f5;
}